h3,h4 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #e3f2fd;
}

nav.navbar.navbar-light{
    background-color: #e3f2fd;
}

#my-button.btn.btn-primary.btn-lg.btn-block{
    font-family: "Courier New", Courier, monospace;
    background-color: #e6faff;
    border-color: #e6faff;
    color: black;
}

.jumbotron.text-center {
    color: #0B81A5;
}